.App {
  text-align: center;
  max-width: 350px;
}

/* Peliruutu */
.Ruutu {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  height: 100px;
  width: 100px;
  display: inline-block;
}

.Ruutu:nth-child(3n+3) {
  clear: right;
}

.Ruutu button {
  font: 90px "Century Gothic", Futura, sans-serif;
  height: 100px;
  width: 100px;
  vertical-align: top;
}

.Ruutu:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Ruutu:active {
  box-shadow: 0 1px #424242;
  transform: translateY(5px);
}
/* ********************* */

.Lapsi {
  text-align: left;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
