body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 40px;
    background: #26a69a;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    color: #424242;
    margin-bottom: 10px;
  }
  
  /* ks. App.css: .Ruutu */
  .square {
    color: #424242;
    background: #26a69a;
    border: 4px solid #00897b;
    float: left;
    font-size: 96px;
    font-weight: bold;
    line-height: 136px;
    height: 136px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 136px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /* ks. App.css: .App */
  .game {
    display: flex;
    flex-direction: column;
  }
  
  .game-info {
    font-size: 48px;
    color: #424242;
    margin-top: 20px;
    text-align: center;
  }
  
  /* Pelaa uudelleen -nappi */
  .restart-button {
    margin-top: 20px;
    text-align: center;
  }
  
  .restart:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .restart:focus {
    outline: none;
  }
  
  .restart:active {
    box-shadow: 0 2px #424242;
    transform: translateY(5px);
  }
  
  .restart {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #424242;
    color: #fffde7;
    border: none;
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    width: 40%;
    text-align: center;
    border-radius: 4px;
  }