.Chat2 {
    text-align: center;
  }
  
  #fieldi {
    /* width: 500px; */
    height: 500px;
    background: lawngreen;
    overflow-x: hidden;
    overflow-y: auto;
    transform: rotate(180deg);
    direction:rtl;
    text-align:left;
  }
  

  #paalla {
    color : green;
  }

  #pois {
    color :red;
  }
  
  .Chat2 h1 {
    color : blue
  }
  
  .Chat2 h2 {
    color : pink;
  }
  
  .Chat2 h3 {
    color : greenyellow;
  }